.info-panel {
  position: absolute;
  bottom: 0px;
  left: 10px;
  z-index: 400;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  opacity: 0.8;
  max-width: 300px;
  font-size: 16px;
  cursor: grab;
}

.info-panel *:hover {
  cursor: auto; /* or auto */
}

.country-header {
  display: flex;          /* horizontal layout */
  align-items: center;    /* vertically centers text with the image */
  flex-direction: column;
  
}

.country-flag {
  display: block;            /* makes the image a block element */
  border: 2px solid black;   /* outline */
  border-radius: 4px;        /* rounded corners */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* subtle shadow */
  width: 80%;               /* fixed width */
}